/* Functional classes */

.hidden {
    display: none;
}

/* Title */

/* From cmd1152 */
#kjbt,
#idtop {
    text-align: center;
}

#kjbt {
    font-Weight: bold;
    font-size: 40px;

    background: linear-gradient(to right, #66f, #09f, #0f0, #f39, #66f);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow {

    0%,
    100% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }
}

/* Header */

#idtop {
    background: #ffffff55 !important;
}

/* Root */

body {
    background: linear-gradient(135deg,#abdcff,#0396ff) !important;
}

/* Panels */

#ysdiv1, #ysmenu1, #lyz, #dzx {
    background: #ffffff99 !important;
}

.fgg5 .ta_wjq {
    background: #00006f88;
}

.dqcd label {
    color: unset !important;
}

/* Links */

#sylj a {
    color: #00006f;
}

/* No ads ;provided by paperee and cmd1152 */

.yszdyq,
#zdy_wz0,
#idzdy,
#idzdy1,
p>img,
a>img {
    display: none !important;
}